* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    height: 50px;
    background-color: rgb(210, 210, 210);
    display: flex;
    align-items: center;
}
header i {
    width: 1%;
}

.logo-col {
    width: 50px;
}

.content-header-col {
    width: calc(100% - 50px);
}

main {
    height: calc(100vh - 50px);
}

.body-content {
    width: calc(100vw - 50px);
    height: calc(100vh - 50px);
    background-color: brown;
    overflow-y: auto;
}

.large-sidebar {
    width: 150px;
    display: none;
    height: calc(100vh - 50px);
}

.large-sidebar, .small-sidebar {
    background-color: rgb(3, 3, 66);
    color: white;
}

.small-sidebar {
    width: 50px;
    height: calc(100vh - 50px);
}

.sidebar {
    width: 50px;
}

.logo-large, .logo-small {
    width: 75%;
}

.logo-large {
    display: none;
}

.fa-code {
    background-color: orange;
    color: white;
    padding: 4px 2px;
    border-radius: 100%;
}

.tabel-icon {
    border: 2px solid gray;
    border-radius: 5px;
    padding: 4px;
}

@media screen and (min-width: 768px) {
    .sidebar {
        width: 150px;
    }
    .body-content {
        width: calc(100vw - 150px);
    }
    .large-sidebar {
        display: block;
    }
    .small-sidebar {
        display: none;
    }
    .logo-large {
        display: block;
    }
    .logo-small {
        display: none;
    }
    .logo-col {
        width: 150px;
    } 
    .content-header-col {
        width: calc(100% - 150px);
    }
}