* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    height: 50px;
    background-color: aquamarine;
}

.logo-col {
    width: 50px;
}

.content-header-col {
    width: calc(100% - 50px);
}

main {
    height: calc(100vh - 50px);
}

.body-content {
    width: calc(100vw - 50px);
    height: calc(100vh - 50px);
    background-color: brown;
}

.large-sidebar {
    width: 150px;
    background-color: blanchedalmond;
    display: none;
    height: calc(100vh - 50px);
}

.small-sidebar {
    width: 50px;
    background-color: blueviolet;
    height: calc(100vh - 50px);
}

.sidebar {
    width: 50px;
}

.logo-large, .logo-small {
    width: 100%;
}

.logo-large {
    display: none;
}

@media screen and (min-width: 768px) {
    .sidebar {
        width: 150px;
    }
    .body-content {
        width: calc(100vw - 150px);
    }
    .large-sidebar {
        display: block;
    }
    .small-sidebar {
        display: none;
    }
    .logo-large {
        display: block;
    }
    .logo-small {
        display: none;
    }
    .logo-col {
        width: 150px;
    } 
    .content-header-col {
        width: calc(100% - 150px);
    }
}