* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    height: 50px;
    background-color: #F8F9FA;
    display: flex;
    align-items: center;
}
header i {
    width: 1%;
}

.logo-col {
    width: 50px;
}

.content-header-col {
    width: calc(100% - 50px);
}

main {
    height: calc(100vh - 50px);
}

.body-content {
    width: calc(100vw - 50px);
    height: calc(100vh - 50px);
    background-color: #F8F9FA;
    overflow-y: auto;
}

.large-sidebar {
    width: 150px;
    display: none;
    height: calc(100vh - 50px);
    background-image: url(../img/sidebar-bg.png);
    background-size: cover;
}

.large-sidebar, .small-sidebar {
    background-color: #051E34;
    color: white;
}

.small-sidebar {
    width: 50px;
    height: calc(100vh - 50px);
}

.sidebar {
    width: 50px;
}

.logo-large, .logo-small {
    width: 75%;
}

.logo-large {
    display: none;
}

.fa-code {
    background-color: #F26551;
    color: white;
    padding: 4px 2px;
    border-radius: 100%;
}

.tabel-icon, .topbar-icon {
    border-radius: 5px;
    padding: 4px;
}

tr:hover .tabel-icon {
    border-color: lightgray;
    color: lightgray;
}

.tabel-icon {
    border: 1.5px solid gray;
    color: gray;
    transition: all 0.25s;
}
.topbar-icon {
    border: 1px solid white;
}

.blue-bg {
    background-color: rgba(3, 0, 19, 0.37);
    border-radius: 10px;
    padding: 2px 6px;
    font-size: x-small;
    transition: all 0.25s;
}

.blue-bg:hover {
    scale: 1.1;
}

.offcanvas-body input {
    border-radius: 5px;
    border: 1px solid lightgrey;
}

.offcanvas-body input, .offcanvas-body .input-group-text, .offcanvas-body select {
    height:25px;
}

.offcanvas-body button {
    padding: 1px 2px;
    font-size: small;
}

#FieldsetCheck {
    height: 16px;
}

.none-button {
    background-color: transparent;
    border: none;
}
.searchbar {
    border: none;
    background-color: #e5e5e5;
    padding-left: 10px;
}

.s, .user-info {
    font-size: small;
}

.x-s {
    font-size: x-small;
}

.xx-s {
    font-size: xx-small;
}

.l {
    font-size: large;
}

.x-l {
    font-size: x-large;
}

.xx-l {
    font-size: xx-large;
}

th {
    font-weight: normal;
}

th, td {
    font-size: small;
}

.lightblue-bg {
    background-color: #1B72E8;
}

.green-bg {
    background-color: #198754;
}

.yellow-bg {
    background-color: #FFC107;
}

.red-bg {
    background-color: #DC3545;
}

.sidebar-select {
    padding: 3px 6px;
    transition: all 0.25s;
}

.sidebar-select:hover {
    background-color: rgba(255, 255, 255, 0.584);
    scale: 1.3;
}

#offcanvasWithBothOptions {
    width: 100%;
}

.scale-hover {
    transition: all 0.25s;
}

.scale-hover:hover {
    scale: 1.3;
}

@media screen and (min-width: 576px) {
    th {
        width: 70%;
    }
}

@media screen and (min-width: 768px) {
    .sidebar {
        width: 150px;
    }
    .body-content {
        width: calc(100vw - 150px);
    }
    .large-sidebar {
        display: block;
    }
    .small-sidebar {
        display: none;
    }
    .logo-large {
        display: block;
    }
    .logo-small {
        display: none;
    }
    .logo-col {
        width: 150px;
    } 
    .content-header-col {
        width: calc(100% - 150px);
    }
    #offcanvasWithBothOptions {
        width: 50%;
    }
    tr:hover {
        background-color: #5555557f;
    }
    tr {
        transition: all 0.25s;
    }
    .pointer {
        cursor: pointer;
    }
}